################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/web-ui/.vscode
*.editorconfig
*.wsuo
